<div class="container">
  <h1 class="heading"><strong>Welcome to Credit Card Online</strong></h1>
  <h2>Login to access your CreditCard account</h2>
<button mat-button>Mobile No.</button>
<button mat-button>User ID </button>
<button mat-button>Card Details</button>
<!-- <mat-form-field appearance="outline">
<input matInput placeholder="Enter Name" #username="ngModel" name="username" ngModel>
  <mat-icon matSuffix>person_outline</mat-icon>
 <mat-hint>Use unique username</mat-hint>
</mat-form-field> -->


</div>
